.baner{
    background-color: #333;
}

.logo a img, .image-container img{
    width: 299px;
    height: 91px;
}
.navi{
    background-color: #333;
    padding: 20px;
}
.logo {
    display: flex;
    justify-content: flex-end;
    background-color: #333;
  }
.baner_list {
    list-style: none;
    display: flex;
    text-align: center;
    padding-top: 10px;
    padding-right: 40px;
  
  }
  .baner_elemen{
    display: inline-block;
    margin: 0 10px;
  }
  
  .baner_elemen a:hover {
    background: #fff;
    cursor: pointer;
    color: #333;
  }
  
  
  .baner_elemen a {
    font-size: 25px;
    padding-left: 40px;
    font-family: sans-serif;
    border: 2px solid #fff;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    text-decoration: none;
    padding: 5px;    
    border-radius: 10px;
    transition: 0.4s;
    padding: 5px 10px;
  }
  @media (max-width: 1100px) {
    .logo {
        display: flex;
        justify-content: center;
        background-color: #333;
      }
      .navi{
        display: flex;
        justify-content: center;
      }
  }
  @media (max-width: 700px) {
    .baner_list {
      flex-direction: column;
      align-items: flex-start;
      margin: auto;
      padding: auto;
    }
  
    .baner_elemen {
      width: 100%;
      padding-bottom: 30px;
    }
    
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  
    .navi{
      margin: auto;
      padding: 20px;
      text-align: center;
    }
  }


.hero{
    background-image: url("/src/img/test.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
}

.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.content {
  text-align: center;
}

.content p {
  font-size: 18px;
  color: white;
  padding: 20px;
}

.cta-button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 10px;
  transition: 0.5s;
  max-width: 100%; 
  width: 100%; 
  box-sizing: border-box; 
  overflow-wrap: break-word; 
  white-space: nowrap;
}

.cta-button:hover {
  background: #fff;
  cursor: pointer;
  color: #333;
}